<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CoordenadasGroup">
      <section name="Coordenada" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MiConexion" connectionString="server = localhost; user id = root; password = 123atc; port = 3306; database = etiquetas_coolandgo"/>
    <add name="MiConexion2" connectionString="server = localhost; user id = admin; password = 57706897; port = 3306; database = Impresion_FCC"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <CoordenadasGroup>
    <Coordenada>
      <add key="X" value="0"/>
      <add key="Y" value="0"/>
    </Coordenada>
  </CoordenadasGroup>
</configuration>
